
    <div class="border border-gray-500 p-3 m-5">
      <form  [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">

          <div class="font-bold p-2 m-2 bg-gray-200">Create Subreddit</div>
          <hr /><br>
          <input type="text" [formControlName]="'title'" class="block m-2 p-2 w-11/12 h-12 border border-gray-300"
            placeholder="Title">
          <textarea type="text" [formControlName]="'description'" class="block m-2 p-2 w-11/12 h-12 border border-gray-300"
            placeholder="Description"></textarea>
          <div>
            <div class="flex justify-items-end float-right">
              <button (click)="discard()" class="rounded-full border-gray-700 p-2 bg-gray-400 hover:bg-blue-200">Discard</button>&nbsp;&nbsp;
              <button class="rounded-full border-gray-700 p-2 bg-gray-400 hover:bg-blue-200">Create</button>
            </div>
          </div>

      </form>
    </div>


