<div class="p-3">
  <img
  class="mx-auto w-40 h-50 rounded-sm object-cover relative"
  src="{{ user.image }}"
  alt=""
/>
  <p class="text-center font-semibold text-md">{{user.fullname}}</p>
  <div>
    Welcome <b class="text-gray-400">{{name}}</b>.<br><br /> You have posted <b>{{postLength}}</b> time(s) and commented
    <b>{{commentLength}}</b> time(s).<br><br>
    You can check your post and comment history below.
  </div><br>
  <hr /><br>
  <div>
    <strong>Your Posts:</strong>
  </div>
  <app-posttile [posts]="posts"></app-posttile>
  <hr /><br>
  <div>
     <strong>Your Comments : </strong>
  </div>
  <div *ngFor="let comment of comments" >
    <div class="hover:bg-gray-200 p-3">
      <div >
        by <a class="text-gray-400" routerLink="/user/comment.username">{{comment.username}}</a>
      </div>

      <b>{{comment.text}}</b>
    </div>
    <br><hr /><br>
  </div>
</div>
