
<div class="flex flex-row h-screen">
    <div class=" border border-black flex w-3/4">

        <ul><br>
          <span class="font-semibold bg-gray-300 p-2 m-2" >List of Subreddits</span><br><br>
          <li *ngFor="let subreddit of subreddits">
              <a routerLink="/view-subreddit/{{subreddit.id}}" class="p-2 m-2 border border-gray-300 text-gray-700">{{subreddit.name}}</a><br><br>
          </li>
        </ul>
    </div>
    <div class="">
      <app-sidebar></app-sidebar>
    </div>
</div>
