<div class="block m-2 p-2 bg-gray-300 w-7/12" >
  <div style="text-align: center;" class="font-semibold p-2 m-2 bg-gray-400">Details of Subreddit</div>
  <p class="font-semibold">Subreddit Id :</p>
<div class="text-gray-500">{{id}}</div>
<br>
<p class="font-semibold">Subreddit Name :</p>
<div class="text-gray-500">{{subreddit.name}}</div>
<br>
<p class="font-semibold">Subreddit Description :</p>
<div class="text-gray-500">{{subreddit.description}}</div>
<br>
<p class="font-semibold">Subreddit Posts :</p>
<div class="text-gray-500">{{subreddit.numberOfPosts}}</div>
</div>
