<div class="block w-9/12 ml-1 border border-gray-400 p-2">

    <hr /><br>

      <form  [formGroup]="createPostForm" (ngSubmit)="createPost()">

          <div class="text-lg bg-gray-200 p-2"><strong>Create Post</strong></div>
          <br><hr /><br>
          <input type="text" class="block text-black border border-gray-300 w-11/12 h-12 p-2 " [formControlName]="'postName'"
            placeholder="Title"><br>
          <input type="text" class="block text-black border border-gray-300 w-11/12 h-12 p-2" [formControlName]="'url'"  placeholder="URL"><br>
          <select   class="block text-black border border-gray-300 w-11/12 h-12 p-2" [formControlName]="'subredditName'">
            <option value="" selected disabled><b>Select Subreddit</b></option>
            <option *ngFor="let subreddit of subreddits">{{subreddit.name}}</option>
          </select><br>



          <editor class="block border border-black w-11/12 p-2 " [formControlName]="'description'" [init]="{
                      height: 500,
                      menubar: false,
                      plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                      ],
                      toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help'
                    }"></editor>
      </form>

          <br>
            <div class="flex justify-items-end float-right">
              <button (click)="discardPost()" class="rounded-full border-gray-700 p-2 bg-gray-400 hover:bg-blue-200">Discard</button>&nbsp;&nbsp;
              <button class="rounded-full border-gray-700 p-2 bg-gray-400 hover:bg-blue-200" >Post</button>
            </div>





</div>
